body {
  background: #0f0f23;
  color: #cccccc;
  font-family: monospace;
  font-size: 14pt;
  min-width: 60em;
}
h1, h2 {
  font-size: 1em;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #009900;
}
a:hover {
  color: #99ff99;
}
.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}